In [20]:
# Imports

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Loading data, assigning variables, reading data, merging data
mouse_data = "data/mouse_drug_data.csv"
trial_data = "data/clinicaltrial_data.csv"

mouse_df = pd.read_csv(mouse_data)
clinical_df = pd.read_csv(trial_data) 

datamerge_df=pd.merge(mouse_df,clinical_df, on="Mouse ID")

# Show first five rows
datamerge_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [35]:
# Data Grouped by Drug and Timepoint 

tum_mean = datamerge_df.groupby(["Drug","Timepoint"], as_index=False)["Tumor Volume (mm3)"].mean()

# Convert to DataFrame

tum_mean_df = pd.DataFrame(data = tum_mean)

# Preview DataFrame
tum_mean_df[0:5]

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325